## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [6]:
s = "Hi there Sam!"
l = s.split()

In [5]:
print(l)

[['Hi', 'there', 'Sam!']]

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [16]:
txt = "The diameter of {planet} is {diameter} kilometers"

In [15]:
print(txt.format(planet = "Earth",diameter = 12742))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [18]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [19]:
print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [20]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

The major difference between tuples and lists is that a list is mutable, whereas a tuple is immutable. This means that a list can be changed, but a tuple cannot.

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [27]:
def grabDomain(s):
  username,domain = s.split("@")
  return domain

In [28]:
s = "user@domain.com"
print(grabDomain(s))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [32]:
def check(s):
  for i in range(len(s)):
    if (s[i].upper()=='D'and s[i+1].upper()=='O' and s[i+2].upper()=='G'):
        return True
  return False

In [33]:
s = "i have Dog"
print(check(s))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [34]:
def check(s):
  c=0
  for i in range(len(s)):
    if (s[i].upper()=='D'and s[i+1].upper()=='O' and s[i+2].upper()=='G'):
        c+=1
  return c

In [35]:
s = "i have Dog,And it's very good dog"
print(check(s))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [36]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [38]:
print(caught_speeding(87,True))

Big Ticket

In [39]:
print(caught_speeding(81,True))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [40]:
lst = [10000,15000,20000,25000,30000]
sum=0
for i in range(len(lst)):
  sum+=lst[i]
print(sum)

100000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [43]:
def merge(d1,d2):
  return d1.update(d2)
d1 = { 'Empid' : 0 ,' Empname':'name','Basicpay' : 10000}
d2 = { 'DeptName' : 'ece',' DeptId':19}
merge(d1,d2)
print(d1)

{'Empid': 0, ' Empname': 'name', 'Basicpay': 10000, 'DeptName': 'ece', ' DeptId': 19}